* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: #fff;
}

.main-wrapper {
  text-align: center;
}

.url-shortener {
  background: url(../assets/background-home.jpg);
  background-size: contain;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.url-input {
  margin-top: 55px !important;
  color: #e35822;
  font-weight: 500;
}

.url-input::placeholder {
  color: #e35822;
  font-weight: 400;
}

.url-input:focus {
  color: #e35822;
}

.container-shortener {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-header {
  font-weight: 700;
}

.heading {
  color: #aa1423;
}

#top-links-rendered {
  color: #000;
  margin: 0 auto;
  width: 40vw;
}

.top-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 40px;
  font-weight: 700;
}

.shortened-url {
  color: #b31822;
  font-weight: 700;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.triangle {
  border-style: solid;
  border-width: 30px 30px 0px 30px;
  border-color: #fff transparent transparent transparent;
  margin: auto;
}

.total-hits {
  background: url(../assets/totalhits-background.png);
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.count-hits {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #777;
  border-radius: 5px;
}

.text-hits {
  margin-bottom: 10px;
}

.form-shortener {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
  align-items: center;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.form-shortener button {
  width: 20vw;
}

#another-button {
  margin-top: 5px;
  opacity: 0;
}

.redirects {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #888888 #ffffff;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border: 3px solid #ffffff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1024px) {
  .url-shortener {
    height: 70vh;
  }
  .form-shortener {
    width: 70vw;
  }
  .form-shortener button {
    width: 70vw;
  }
  #top-links-rendered {
    width: 70vw;
  }
}
