<!DOCTYPE html>
<html lang="PT-BR" ng-app="encurtadorApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encurtador CHR</title>
  <link rel="stylesheet" type="text/css" href="../public/css/padrao.css">
  <!--Angular-->
  <script src="../public/lib/angular-1.7.8/angular.min.js"></script>
  <!--Jquery-->
  <script src="../public/lib/jquery/dist/jquery.min.js"></script>
  <script src="../public/js/angularApps/encurtador.js"></script>
</head>
<body class="centralizado">
    <header>        
        <figure>
            <img src="../public/img/devLogo.svg" alt="Logo DevMagic">
        </figure>        
    </header>
    <main ng-controller="encurtadorController as encurtador" ng-init="encurtador.top5();encurtador.hitsTotais()">       
    <article class="back-image">
        <div id="encurtar">
            <h3>Encurte seus links.</h3>
            <p>Links são longos. Encurte os links que você deseja compartilhar, e acompanhe enquanto viajam através da internet.</p>
            <form>
                
                <div id="url">
                    <label>
                        <input type="text" id="txt-url" ng-model="encurtador.url" name="url" class="" placeholder="Cole o seu link aqui">
                    </label>
                    <button type="button" id="cancelar" class="cancelar" ng-click="encurtador.cancelar()">X</button>
                </div>
                
                <button type="button" id="btn-url" ng-click="encurtador.encurtar()">
                    <samp>ENCURTAR</samp>
                </button>
                <p>
                        
                </p>
                
            </form>
        </div>                
    </article>
    <article class="top" > 
        <div id="top-5">
            <h3>TOP 5</h3>
            <aside>
    
                <ul>
                    <li ng-repeat="top in encurtador.todos">
                        <a href="{{top.url}}">{{top.shortUrl}}</a>
                        <p>{{top.hits}}</p>
                    </li>
                </ul>
            </aside>
        </div>            
        
    </article>
    <article id="hits">
        <figure>
            <div class="triangulo"></div>
        </figure>
        <div class="hits ">
            <h3>HITS</h3>
            <p id="back-hits" class="centralizado">
                <em>{{encurtador.contagem}}</em>
                <br>
                <br>
                
                Cliques em links
            </p>
        </div>
    </article>

    </main>
    <footer>
        <figure>
            <img src="../../Assets/logo-chaordic.png" alt="Logo Chaordic">
        </figure>
        <figure>
            <img src="../../Assets/icon-twitter.png" alt="Logo do Twitter">
            <img src="../../Assets/icon-facebook.png" alt="Logo do Facebook">
        </figure>
        
    </footer>
    
    <!--Proprietário-->
    <script src="../public/js/padrao.js"></script>
</body>


</html> 