@import 'colors'
  
* 
  border: 0 none
  outline: none
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

body
  background-color: $color-background
  font: 16px Roboto, sans-serif

button
  cursos: pointer

input, button 
  font: 16px Roboto Slab, sans-serif
