#main,
#top-links,
#hits {
  padding: 0 32px;
}

#header {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 60vh;
  background: url(../../assets/background-home.jpg) no-repeat center center/cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main p {
  margin-top: 8px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
#main .link-bar {
  width: 450px;
  height: 35px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}
#main .link-bar label {
  width: 100%;
  display: flex;
  align-items: bottom;
  position: relative;
  margin-right: 10px;
}
#main .link-bar label .active {
  display: inline-block;
}
#main .link-bar label input {
  height: inherit;
  width: inherit;
  background: transparent;
  color: #FFFFFF;
}
#main .link-bar label input::-webkit-input-placeholder {
  color: #F86B2A;
}
#main .link-bar label input:-moz-placeholder {
  color: #F86B2A;
}
#main .link-bar label input::-moz-placeholder {
  color: #F86B2A;
}
#main .link-bar label input:-ms-input-placeholder {
  color: #F86B2A;
}
#main .link-bar label i {
  display: none;
}
#main .link-bar label:after {
  content: "";
  display: inline-block;
  width: inherit;
  height: 2px;
  background: #F86B2A;
  position: absolute;
  bottom: 0;
}
#main .link-bar button {
  width: 30%;
  height: 100%;
  font-size: 14px;
  background: #F86B2A;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
}
#main .link-bar button:hover {
  background: rgba(248, 107, 42, 0.7);
}
#main .link-bar button:active {
  background: rgba(248, 107, 42, 0.8);
}

#top-links {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #AA1423;
}
#top-links h1 {
  font-weight: 500;
  letter-spacing: 0.5px;
}
#top-links ul {
  margin-top: 16px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top-links ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
}
#top-links ul li p {
  font-weight: 600;
}
#top-links ul li span {
  color: #777777;
}
#top-links ul li:last-child {
  border: 0 none;
}

#hits {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
  position: relative;
  color: #AA1423;
}
#hits h1 {
  font-weight: 500;
  letter-spacing: 0.5px;
}
#hits span {
  height: 30px;
  padding: 20px 10px;
  border: 1px solid rgba(119, 119, 119, 0.3);
  border-radius: 3px;
  background: #FFFFFF;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 5px;
}
#hits p {
  font-size: 12px;
  color: #777777;
}
#hits:before {
  content: "";
  display: inline-block;
  border: 30px solid;
  border-color: #FFFFFF transparent transparent transparent;
  position: absolute;
  top: 0;
}

#footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30%;
  font-weight: 500;
  color: #AA1423;
}
#footer .social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px;
}
#footer .social-media img {
  height: 22px;
}
#footer .social-media img:hover {
  height: 27px;
}

@media screen and (min-device-width: 250px) and (max-device-width: 500px) {
  #main {
    text-align: center;
  }
  #main .link-bar {
    flex-direction: column;
    width: 100%;
    height: 75px;
  }
  #main .link-bar label:after {
    height: 0.5px;
  }
  #main .link-bar button {
    margin-top: 10px;
    width: 100%;
    padding: 0 5px;
  }

  #top-links {
    height: 45vh;
  }
  #top-links ul {
    width: 100%;
  }

  #hits {
    height: 30vh;
  }

  #footer {
    height: 7vh;
    padding: 0 10%;
  }
}
@media screen and (min-device-width: 501px) and (max-device-width: 900px) {
  #header {
    min-height: 40px;
  }

  #main {
    min-height: 200px;
  }

  #top-links {
    height: 45vh;
    min-height: 250px;
  }

  #hits {
    height: 35vh;
    min-height: 180px;
  }

  #footer {
    height: 7vh;
    min-height: 40px;
    padding: 0 20%;
  }
}

/*# sourceMappingURL=index.css.map */
