    </main>
    <footer>
        <figure>
            <img src="/img/logo-chaordic.png" alt="Logo Chaordic">
        </figure>
        <figure>
            <img src="/img/icon-twitter.png" alt="Logo do Twitter">
            <img src="/img/icon-facebook.png" alt="Logo do Facebook">
        </figure>
        
    </footer>
    
    <!--Proprietário-->
    <script src="/js/padrao.js"></script>
    
</body>
</html> 