
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$challenge-primary: mat-palette($mat-indigo);
$challenge-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$challenge-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$challenge-theme: mat-light-theme($challenge-primary, $challenge-accent, $challenge-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($challenge-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

$first-color: #ffffff;
$second-color: #ff6e14;
$third-color: #eeeeee;
$fourth-color: #aa1423;
$count-color: #8b8b8b;
$sixth-color: #6e030d;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: $first-color;
    -webkit-font-smoothing: antialiased; 
   
}


html, body { height: 100%; }
