@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/*---------------VARIAVEIS / CORES---------------*/
:root{
--home-primary-color: #FF6E14;
--prymary-color: #aa1423;	
--secondary-color: #777;	
--background-section: #eee;	

}


/*----------------PARAMETROS GLOBAIS--------------*/
html, body{
height: 100%;	
font-family: 'Roboto', sans-serif;
}

/*-----------------LAYOUT----------------*/
.section{
	height: 100%;	
}

/*-----------------HOME SECTION-------------------*/
#home{
position: relative;
padding-top: 15%;
color: #fff;	
background-image: url("../../Assets/background-home.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#home h1{
    font-family: 'Roboto Slab', serif;
	font-size: 4rem;
	font-weight: bold;
}
#home p{
    font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}
/*
Opção de uso sem o Grid System. 
#home form{
	max-width: 50%;
}
*/

#home input{
	background-color: transparent !important;	
	border: none;
	border-bottom: 2px solid var(--home-primary-color);
	border-radius: 0px;
	color:var(--home-primary-color);
	font-weight: bold;
	font-size: 1.2rem;

}

#home input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--home-primary-color) !important;
  opacity: 1; /* Firefox */
}

#home input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:var(--home-primary-color);
}

#home input::-ms-input-placeholder { /* Microsoft Edge */
  color:var(--home-primary-color);
}

#home button{
background-color:var(--home-primary-color);
color: white;
font-weight: bold;
border-radius: 0px;

}

@media (max-width: 768px) {
	#home{
	padding-top: 35%;
	}
	#home h1{
		font-family: 'Roboto Slab', serif;
		font-size: 3rem;
		font-weight: bold;
	}
	#home p{
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
	}

	#home button{
		padding: 10px;
		font-size: 1em;
		max-width: 120px;
		font-weight: bold;
	}
  }

/*--------------HOME MOBILE PROPS--------------*/
@media (max-width: 375px) {
	#home{
	padding-top: 50%;
	}
	#home h1{
		font-family: 'Roboto Slab', serif;
		font-size: 2rem;
		font-weight: bold;
	}
	#home p{
		font-family: 'Roboto', sans-serif;
		font-size: 0.75rem;
	}

	#home button{
		padding: 10px;
		font-size: 0.6em;
		max-width: 70px;
		font-weight: bold;
	}
  }
/*-----------------FIM HOME SECTION-------------------*/


/*-----------------ARTICLE TOP5-------------------*/
#top5{
	height: 60%;
	max-width: 40%;
}
#top5 h1{
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color)
}

#top5 .list-group li {
	color: var(--prymary-color);
	font-weight: bold; 
	border-bottom: 1px solid var(--background-section);
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.3em;
}
#top5 .list-group li span {
	color: var(--secondary-color);
	float: right;
	font-weight: normal; 
}

/*-----------------ARTICLE HITS-------------------*/
#hits{
	background-color: var(--background-section);
	height: 40%;
}

.seta-baixo:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0; 
	height: 0; 
  
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #fff;
  }


#hits h1 {
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color)		
}

.counter {
	background-color: white;
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color);
	border: solid  1px var(--secondary-color);
	border-radius: 10px;
}

#hits p {
	color: var(--secondary-color);
}