@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/*---------------VARIAVEIS / CORES---------------*/
:root{
--home-primary-color: #FF6E14;
--prymary-color: #aa1423;	
--secondary-color: #777;	
--background-section: #eee;	
}
/*----------------PARAMETROS GLOBAIS--------------*/
html, body{
height: 100%;	
font-family: 'Roboto', sans-serif;
}




/*-----------------LAYOUT----------------*/
#main-wrapper{
	height: 100%;	
}
#header img{
	max-height: 60px;
}


/*-----------------HOME SECTION-------------------*/
#home{
height: 100%;	
position: relative;
padding-top: 15%;
color: #fff;	
background-image: url("../img/background-home.jpg");
background-size: cover;
}

#home h1{
    font-family: 'Roboto Slab', serif;
	font-size: 2.5rem;
	font-weight: bold;
}
#home p{
    font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

#home #cole-link{
	background-color: transparent !important;	
	border: none;
	border-bottom: 2px solid var(--home-primary-color);
	border-radius: 0px;
	color:var(--home-primary-color);
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}

#home #cole-link::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--home-primary-color) !important;
  opacity: 1; /* Firefox */
  font-family: 'Roboto', sans-serif;
  opacity: 0.5;
}

#home #cole-link:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:var(--home-primary-color);
}

#home #cole-link::-ms-input-placeholder { /* Microsoft Edge */
  color:var(--home-primary-color);
}
#btn-limpar{
margin-left: -35px;
visibility: hidden;
z-index: 9999;
color: #fff;
font-weight: bold;
font-family: Arial, sans-serif;

}

#home #btn-encurtar{
background-color:var(--home-primary-color);
color: white;
font-weight: bold;
border-radius: 0px;
min-width: 145px;
}

/* ALTERNATIVA - FORM SÓ COM CSS
.form-inline{
display: flex;	
flex-flow: row wrap;
align-items: center;
}

.form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
  }

  .form-inline #btn-encurtar {
	padding: 10px 20px;
	background-color: dodgerblue;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
  }
*/

@media (max-width: 450px) {



  }


/*-----------------ARTICLE TOP5-------------------*/
#top5{
	max-width: 60%;
	padding: 120px;
	font-size: 1.5rem;

}
#top5 h1{
	font-size: 2.5rem;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color)
}

#top5 .list-group li {
	color: var(--prymary-color);
	border-bottom: 1px solid var(--background-section);
	list-style: none;
}

#top5 .list-group li a{
	text-decoration: none;
	color: var(--prymary-color);

}
#top5 .list-group li a:hover{
text-decoration: underline;
}

#top5 .list-group li .link-quant {
	color: var(--secondary-color);
	float: right;
}

/*-----------------ARTICLE HITS-------------------*/
#hits{
	background-color: var(--background-section);
}

.seta-baixo:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0; 
	height: 0; 
  
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #fff;
  }

#hits .content-wraper{
	padding: 40px;
	text-align: center;
}

#hits h1 {
	font-size: 2.5em;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color)		
}

#hits .counter {
	background-color: white;
	font-size: 2.2em;
	font-family: 'Roboto Slab', serif;
	color: var(--prymary-color);
	border: solid  1px var(--secondary-color);
	border-radius: 5px;
	margin: 5px;
}

#hits label {
	color: var(--secondary-color);
}


/*--------------FOOTER-------------*/
footer .container{
	height: 60px;
	max-width: 60%;
	padding-top: 20px
}

footer #link-chr{
	color: var(--prymary-color);
}

footer .social{
	float: right;
	padding-left: 30px;
}