<section class="foater">
  <div class="content">
    <span class="institutional">chr.dc</span>
    <span class="social-network">
      <div class="network">
        <a href="http://devmagic.com.br/" class="navbar-brand">
          <img src="../../assets/imgs/icon-twitter.png" alt="Twitter DevMagic">
        </a>
      </div>
      <div class="network">
        <a href="http://devmagic.com.br/" class="navbar-brand">
          <img src="../../assets/imgs//icon-facebook.png" alt="Facebook DevMagic">
        </a>
      </div>
    </span>
  </div>
</section>
