/*Fade animation*/
/*Fading in the middle of animation*/
@keyframes fade-total{
    50%{
        color: rgba(0, 0, 0, 0);
    }

    100%{
        color: rgba(1);
    }
}

/*Fade-in from the start*/
@keyframes fade-partial{
    0%{
        color: rgba(0, 0, 0, 0);
    }

    100%{
        color: rgba(1);
    }
}

.animate-fade-total{
    animation-name: fade-total;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

.animate-fade-partial{
    animation-name: fade-partial;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}