* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0rem;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #EEE;
  height: 920px;
  background-size: cover;
  background: no-repeat center url("../assets/background-home.jpg");
  text-align: center;
}

#main h1 {
  padding-bottom: 0.8rem;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

#main p {
  font-size: 1.8rem;
}

#main form {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main input {
  border: none;
  margin-left: 1rem;
}

#main #inputLink {
  background-color: transparent;
  text-align: left;
  width: 45rem;
  max-width: 450px;
  font-size: 1.8rem;
  color: #ff6e14;
  border-bottom-color: #ff6e14;
  border-bottom: solid;
}

#main #button {
  background-color: #ff6e14;
  color: #EEE;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  width: 10rem;
  height: 4rem;
  max-height: 40px;
  max-width: 110px;
}

#main #button:hover {
  background-color: #ff8138;
  cursor: pointer;
}

#main ::-webkit-input-placeholder {
  color: #ff6e14;
}

#top5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  color: #AA1423;
}

#top5 th {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  padding-bottom: 1.5rem;
}

#top5 table {
  margin: 2rem 0rem 4rem 0rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 1.3rem;
  border-collapse: collapse;
}

#top5 td {
  padding: 1rem 0rem;
  border-bottom: 2px solid #EEE;
  text-align: left;
}

#top5 .quant {
  color: #777;
  font-weight: normal;
  padding-left: 20rem;
}

#top5 .ultimo {
  border: none;
}

#hits {
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #AA1423;
  font-family: "Roboto Slab", sans-serif;
}

#hits .triangulo {
  width: 0;
  height: 0;
  border-left: 4.5rem solid transparent;
  border-right: 4.5rem solid transparent;
  border-top: 4rem solid #fff;
}

#hits h1 {
  margin: 1.5rem;
  font-size: 3rem;
  font-weight: normal;
}

#hits label {
  color: #777;
  margin: 1rem 0rem 4.5rem 0rem;
  font-size: 1.8rem;
}

#hits input {
  text-align: center;
  color: #AA1423;
  font-size: 3rem;
  max-width: 20rem;
  height: 6rem;
}

footer {
  margin: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer h2 {
  color: #AA1423;
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
}

footer a {
  margin: 0rem 1rem;
  text-decoration: none;
}

@media (max-width: 590px) {
  #main {
    height: 500px;
  }
  #main p {
    font-size: 1.2rem;
    word-wrap: true;
  }
  #main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  #main input {
    margin: 1rem 0rem;
  }
  #main #inputLink {
    width: 20rem;
    text-align: center;
  }
  #top5 .quant {
    padding-left: 6rem;
  }
}
/*# sourceMappingURL=index.css.map */