$colorText:#EEE;
$colorNum:#777;
$colorTitle:#AA1423;
$colorForm: #ff6e14;
$fontText: 'Roboto', sans-serif;
$fontTitle: 'Roboto Slab', sans-serif;

@mixin flexBox(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin formatText($font, $size,  $weigth) {
    font-family: $font;
    font-size: $size;
    font-weight: $weigth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
 }

html{
    font-size: 62.5%;
}

body{
    font-family: $fontText;
}
header{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

#main{
    @include flexBox();
    color: $colorText;
    height: 920px;
    background-size: cover;
    background: no-repeat center url('../assets/background-home.jpg');
    text-align: center;
    h1{
        padding-bottom: 0.8rem;
        @include formatText($fontTitle, 3rem, bold);
    }
    p{
        font-size: 1.8rem;
    }
    form{
        padding-top: 6rem;
        display: flex;   
    }
    input {
        border: none;
        margin-left: 1rem
    }
    #inputLink{
        background-color: transparent;
        text-align: left;
        width: 45rem;  
        max-width: 450px;  
        font-size: 1.8rem; 
        color: $colorForm;
        border-bottom-color: $colorForm;
        border-bottom: solid;
    }
    #button{
        background-color: $colorForm;
        color: $colorText;
        @include formatText($fontText, 1.6rem, bold);
        width: 10rem;
        height: 4rem;
        max-height: 40px;
        max-width: 110px;
        
        &:hover{
            background-color: #ff8138;
            cursor: pointer;
            
        }
    }
    ::-webkit-input-placeholder {
        color: $colorForm;
       
    } 
}



#top5{
   @include flexBox();
   padding-top: 2rem;
   color: $colorTitle;
   th{
     @include formatText($fontTitle, 3rem, normal);
     padding-bottom: 1.5rem;
   }
   table{
    margin: 2rem 0rem 4rem 0rem;
    @include formatText($fontText, 1.6rem, bold);
    padding-top: 1.3rem;
    border-collapse: collapse;
   }
  
   td{
     padding: 1rem 0rem;
     border-bottom: 2px solid $colorText;
     text-align: left;
   }
   .quant{
      color: $colorNum;
      font-weight: normal;
      padding-left: 20rem;
   }
   
   .ultimo{
       border: none;
   }
  
}

#hits{
    background-color: $colorText;
    @include flexBox();
    color: $colorTitle;
    font-family: $fontTitle;
    .triangulo{
        width: 0; 
        height: 0; 
        border-left: 4.5rem solid transparent;
        border-right: 4.5rem solid transparent;
        border-top: 4rem solid #fff;
     }
   
    h1{
        margin: 1.5rem;
        font-size: 3rem;
        font-weight: normal;
    }
    label{
        color: $colorNum;  
        margin: 1rem 0rem 4.5rem 0rem;  
        font-size: 1.8rem;
    }
    input{
        text-align: center;
        color: $colorTitle;
        font-size: 3rem;
        max-width: 20rem;
        height: 6rem; 
    }
}

footer{
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-around;
    h2{
        color: $colorTitle;
        @include formatText($fontText, 2.2rem, normal);
    }
    a{
        margin: 0rem 1rem;
        text-decoration: none;
    }
}

@media(max-width: 590px){

    #main{
        height: 500px;
        p{
            font-size: 1.2rem;
            word-wrap: true;
        }
        form{
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
        }
        input{
            margin: 1rem 0rem;
        }
        #inputLink{
            width: 20rem;
            text-align: center;
        }

    }
    #top5{
        .quant{
            padding-left: 6rem;
        }
    }
   
}