:root{
    --color-red: #AA1423;
    --color-support-text: #777;
    --color-line-background: #EEE;
    --color-white: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
}