@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap");

$red: #aa1423;
$dark-red: #79000c;
$gray: #777;
$lightgray: #eee;
$white: #fff;
$orange: #f7650f;

body {
    background: $white;
    color: $red;
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;

    header {
        height: 10vh;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 8vh;
        }
    }

    section.middle-image {
        width: 100%;
        height: 90vh;
        background: url(../img/background-home.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        color: $white !important;

        h1 {
            font-family: "Roboto Slab", serif;
            font-size: 54px;
            margin: 0;
        }

        p {
            width: 650px;
            font-size: 20px;
            margin: 0;
            text-align: center;
        }

        .short {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            flex-wrap: wrap;

            input {
                width: 450px;
                height: 40px;
                background: none;
                border: 3px solid $orange;
                border-left: none;
                border-right: none;
                border-top: none;
                font-size: 20px;
                color: $white;

                &::placeholder {
                    color: $orange;
                    opacity: 1;
                }
            }

            button {
                height: 45px;
                border: 3px solid $orange;
                background: $orange;
                color: white;
                font-size: 20px;
                padding: 0 20px;
                margin-left: 15px;
                cursor: pointer;
            }
        }

        @media only screen and (max-width: 600px) {
            background-size: auto 100%;
            background-position: center;
            h1 {
                width: 90%;
                text-align: center;
            }
            p {
                width: 90%;
            }

            .short {
                input {
                    width: 220px;
                }
            }
        }
    }

    section.data {
        background-color: $white;
        text-align: center;

        h1 {
            font-size: 54px;
            text-transform: uppercase;
            font-family: "Roboto Slab", serif;
            font-weight: 500;
        }

        .top {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;

            &::after {
                content: "";
                width: 70px;
                height: 70px;
                background: white;
                transform: rotate(-45deg);
                margin-bottom: -135px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;

                    &:last-child {
                        margin-bottom: none;
                        padding-bottom: none;
                        border: none;
                    }

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 450px;

                    @media only screen and (max-width: 600px) {
                        width: 300px;
                    }

                    span {
                        &:first-child {
                            font-size: 16px;
                            font-weight: 700;
                            letter-spacing: 0.3px;
                        }

                        &:last-child {
                            color: $gray;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        .hits {
            h1 {
                margin: 0 0 20px 0;
            }
            background: $lightgray;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .total-hits {
                font-family: "Roboto Slab", serif;
                border: 1px solid rgba(119, 119, 119, 0.5);
                background: $white;
                padding: 5px 10px;
                font-size: 54px;
                border-radius: 10px;
                font-weight: normal;
                width: auto;
                font-weight: 500;
            }
            span {
                &:last-child {
                    color: $gray;
                    font-size: 16px;
                    margin-top: 5px;
                    font-weight: 500;
                }
            }
        }
    }

    .loader-area {
        position: fixed;
        background: $white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        padding: 10px 15%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            cursor: pointer;
        }
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $red;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $red transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .alert {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        .card {
            text-align: center;
            background: $lightgray;
            width: 30%;
            @media only screen and (max-width: 600px) {
                width: 60%;
            }
            padding: 20px 0;
            border-radius: 20px;
            color: #5b5b5b;
            button {
                height: 35px;
                padding: 0 30px;
                font-size: 14px;
                text-transform: uppercase;
                background: $red;
                border: 3px solid $dark-red;
                border-radius: 20px;
                color: white;
                border-left: none;
                border-top: none;
                cursor: pointer;
                &:focus {
                    border: none;
                }
            }
        }
    }
    .success-checkmark {
        width: 80px;
        height: 115px;
        margin: 0 auto;

        .check-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid #4caf50;

            &::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }

            &::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }

            &::before,
            &::after {
                content: "";
                height: 100px;
                position: absolute;
                background: $lightgray;
                transform: rotate(-45deg);
            }

            .icon-line {
                height: 5px;
                background-color: #4caf50;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;

                &.line-tip {
                    top: 46px;
                    left: 14px;
                    width: 25px;
                    transform: rotate(45deg);
                    animation: icon-line-tip 0.75s;
                }

                &.line-long {
                    top: 38px;
                    right: 8px;
                    width: 47px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.75s;
                }
            }

            .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid rgba(76, 175, 80, 0.5);
            }

            .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: $lightgray;
            }
        }
    }

    @keyframes rotate-circle {
        0% {
            transform: rotate(-45deg);
        }
        5% {
            transform: rotate(-45deg);
        }
        12% {
            transform: rotate(-405deg);
        }
        100% {
            transform: rotate(-405deg);
        }
    }

    @keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }

    @keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }
    .error-banmark {
        width: 80px;
        height: 115px;
        margin: 0 auto;

        .ban-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid rgb(175, 76, 76);

            &::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }

            &::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }

            &::before,
            &::after {
                content: "";
                height: 100px;
                position: absolute;
                background: rgba(255, 255, 255, 0);
                transform: rotate(-45deg);
            }

            .icon-line {
                height: 5px;
                background-color: rgb(175, 76, 76);
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;

                &.line-long-invert {
                    top: 39px;
                    left: 8px;
                    width: 60px;
                    transform: rotate(45deg);
                    animation: icon-line-long 0.75s;
                }

                &.line-long {
                    top: 39px;
                    left: 8px;
                    width: 60px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.85s;
                }
            }

            .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid rgba(175, 76, 76, 0.5);
            }

            .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}
