<!-- START NAVBAR -->
<div class="navbar">
  <div class="container">
    <div class="logo">
      <a href="http://devmagic.com.br/" class="navbar-brand"> <img src="../../assets/imgs/logo-devmagic.png"
          alt="DevMagic"></a>
      <div class="mobile-nav"></div>
    </div>
  </div>
</div>
<!-- END NAVBAR -->

<!-- START HEADER-CONTENT -->
<section class="header">

  <div class="content">
    <h1>Encurte seus links.</h1>
    <h2>Links são longos. Encurte os links que você deseja compartilhar,
      e acompanhe enquanto viajam através da internet.</h2>
  </div>

  <!-- START SHORTENER-FORM -->
  <app-shortener-form></app-shortener-form>
  <!-- END SHORTENER-FORM -->

</section>
<!-- END HEADER-CONTENT -->
