* {
    font-family: $principal-font, $secondary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

a {
    color: inherit;
}

h1 {
    font-family: $secondary-font;
}

p {
    font-family: $principal-font;
}

button {
    cursor: pointer;
    font-family: $principal-font;
    font-weight: $weight-bold;
}

.Container {
    width: 100%;
    max-width: $breakpoint-desktop;
    
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
