$principal-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$color-red: #AA1423;
$color-dark-gray: #777;
$color-light-gray: #EEE;
$color-white: #FFF;
$color-orange: #FF6E14;
$color-border: #D2D2D2;

$size-principal-title: 2.25em;
$size-title: 2em;
$size-text: 1em;

$weight-bold: 700;
$weight-regular: 400;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1020px;
