* { /*retirar espaçamentos do browser*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 480px) {
    /*resposive short-link*/
    .short-link input {
        width: 220px;
        padding-bottom: .5em;
    }

    .short-link button {
        padding: .7em;
    }

    /*input link*/
    .new-link img{
        bottom: 16px;
        right: 160px; 
    }

    /*responsive table*/
    .table tbody td:nth-child(1) {
        font-size: 11px;
    }

    footer {
        padding-left: 10%;
    }
    
}

@media screen and (min-width: 481px) {
    /*resposive short-link*/
    .short-link input {
        width: 300px;
        height: 28px;
    }
    
    .short-link button {
        padding: .8em;
    }

    /*input link*/
    .new-link img{
        bottom: 14px;
        right: 145px; 
    }

    /*responsive table*/
    .table tbody td:nth-child(1) {
        font-size: 16px;
    }

    footer {
        padding-left: 15%;
    }

}

body {
    background: #EEE;
    height: 100vh;  
}

