#page-landing {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  background: white;
}

header img.logo {
  margin-left: auto;
  margin-right: auto;
}

.background-img {
  height: 495px;
  display: flex;
  align-items: center;
  background-image: url(../../../Assets/background-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img .short-link {
  width: 30rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.short-link h1 {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  color: white;
}

.short-link p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 50px;
}

.new-link {
  display: flex;
  justify-content: center;
}

.short-link input {
  background: none;
  color: #ff6e14;
  margin-top: 11px;
  border: none;
  border-bottom: 3px solid #ff6e14;
}

.input-img {
  position: relative;
}

.input-img img {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 13px;
}

.short-link .btn-shorten {
  color: white;
  font-weight: bold;
  width: 107px;
  height: 39px;
  margin-left: 10px;
  border: none;
  background: #ff6e14;
  cursor: pointer;
  transition: background-color 0.2s;
}

.short-link .btn-shorten:hover {
  background: #f38836;
}

.btn-copy {
  color: "white";
  font-weight: bold;
  display: inline;
}

.img-display {
  display: inline;
  position: absolute;
  right: 9px;
  bottom: 13px;
}

/*TABLE*/
.content-table {
  background: white;
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  border-top: 1px solid #e0e0e0;
}

.content-table h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 6;
  font-size: 32px;
  color: #aa1423;
  text-align: center;
  margin-bottom: 15px;
}

.table {
  margin: auto;
  text-align: center;
}

.table th,
table td {
  padding: 8px 0;
}

.table tr.row {
  border-bottom: 1px solid #000;
}

.table tbody td:nth-child(1) {
  width: 40%;
  font-weight: bold;
  color: #aa1423;
}

.table tbody td:nth-child(2) {
  width: 40%;
  font-family: "Roboto", serif;
  font-size: 12;
  color: #555555;
  font-size: 12px;
}

.table tbody {
  text-align: center;
}

/*TRIANGLE*/
.triangle {
  width: 100%;
  height: 8vh;
  background: #eeeeee;
  position: relative;
}

.triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*HITS*/
.count-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

.count-links h2 {
  padding: 10px 0 10px 0;
  color: #aa1423;
  font-family: "Roboto Slab", serif;
  font-weight: 6;
  font-size: 32px;
}

.count-links .box-count {
  width: 173px;
  height: 49px;
  border: 1px solid #b8b6b6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  background: white;
  margin-bottom: 0.5rem;
}

.count-links p:last-child {
  color: #777;
  font-size: 16px;
  font-family: "Roboto", serif;
}

.count-links p:first-child {
  text-align: center;
  color: #aa1423;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
}

/*FOOTER*/
footer {
  height: 62px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8px 0 0.8px;
  margin: 0 0.8em 0 0.8em;
}

footer .image-footer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

footer .image-footer img:nth-child(1) {
  margin: 4px;
  cursor: pointer;
}

footer .image-footer img:nth-child(2) {
  margin: 4px;
  cursor: pointer;
}

/*# sourceMappingURL=page-landing.css.map */
