$red: #aa1423;
$white: #FFF;
$orange: #FF6E14;
$orangeHover: #F38836;
$grey: #EEE;


#page-landing {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  background: $white;
}

header img.logo {
  margin-left: auto;
  margin-right: auto;
}

.background-img {
  height: 495px;
  display: flex;
  align-items: center;
  background-image: url(../../../Assets/background-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img .short-link {
  width: 30rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.short-link h1 {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  color: $white;
}

.short-link p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $white;
  margin-bottom: 50px;
}

.new-link {
  display:flex;
  justify-content: center;
}

.short-link input {
  color: $orange;
  background: none;
  margin-top: 11px;
  border: none;
  border-bottom: 3px solid $orange;
}

.short-link .alter-weight {
  color: $white !important;
  font-weight: bold !important;
} 

.short-link input::placeholder {
  color: $orange;
  opacity: 1;
}

.short-link input:focus {
  outline: none;
}

.input-img {
  position: relative;
}

.input-img img {
  display : none;
  position: absolute;
  right: 9px;
  bottom: 13px;
}

.img-display {
  display: block !important;
}

.short-link .btn-shorten {
  color: $white;
  font-weight: bold;
  width: 107px;
  height: 39px;

  margin-left: 10px;
  border: none;
  background: $orange;
  cursor: pointer;
  transition: background-color 0.2s;
}

.short-link .btn-shorten:focus {
  outline: none;
}

.short-link .btn-shorten:hover {
  background: $orangeHover;
}

// classes for script

.btn-copy {
  color: 'white';
  font-weight: bold;
  display: inline;
}

/*TABLE*/

.content-table {
  background: $white;
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  border-top: 1px solid $grey;
}

.content-table h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 6;
  font-size: 32px;
  color: $red;
  text-align: center;
  margin-bottom: 15px;
}

.table {
  margin: auto;
  border-spacing: 0;
}

.table th,
table td {
  padding: 8px 0;
}

tr.row td {
  border-bottom: 1px solid $grey;
}

.table tbody td:nth-child(1) {
  width: 40%;
  font-weight: bold;
  color: $red;
  text-align: left;
}

.table tbody td:nth-child(2) {
  width: 40%;
  font-family: "Roboto", serif;
  font-size: 12;
  color: rgb(85, 85, 85);
  font-size: 12px;
  text-align: right;
}

.table tbody {
  text-align: center;
}

/*TRIANGLE*/

.triangle {
  width: 100%;
  height: 8vh;
  background: $grey;
  position: relative;
}

.triangle::before {
  content: "";
  width: 0;
  height: 0;

  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid $white;
  position: absolute;

  left: 50%;

  transform: translateX(-50%);
}

/*HITS*/

.count-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

.count-links h2 {
  padding: 10px 0 10px 0;
  color: $red;
  font-family: "Roboto Slab", serif;
  font-weight: 6;
  font-size: 32px;
}

.count-links .box-count {
  width: 173px;
  height: 49px;

  border: 1px solid rgb(184, 182, 182);
  box-sizing: border-box;
  border-radius: 5px;

  padding: 0.1rem 0.3rem;
  background: $white;
  margin-bottom: 0.5rem;
}

.count-links p:last-child {
  color: $grey;
  font-size: 16px;
  font-family: "Roboto", serif;
}

.count-links p:first-child {
  text-align: center;
  color: $red;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
}

/*FOOTER*/

footer {
  height: 62px;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25%;

  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8px 0 0.8px;
  margin: 0 0.8em 0 0.8em;
}

footer .image-footer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

footer .image-footer img:nth-child(1) {
  margin: 4px;
  cursor: pointer;
}

footer .image-footer img:nth-child(2) {
  margin: 4px;
  cursor: pointer;
}
